.axis-x {
    border-top: 1px solid black;
}

.axis-y {
    border-right: 1px solid black;
}

.axis-x .tick, .axis-y .tick {
    background-color: black;
}

.axis-x .label, .axis-y .label {
    color: black;
}

.hover-line {
    background-color: black;
}

.tooltip {
    background-color: white;
    border: 1px solid white;
    opacity: 1;
    margin-left: 2px;
    padding: 3px;
    border-radius: 0px 10px 10px 10px;
}
